{% extends "Base.html" %}
{% load static %}
{% block content %}


<div class="container my-4">


    <!--    <p><strong>Detailed documentation and more examples about Bootstrap image slider you can find in our <a href="https://mdbootstrap.com/docs/standard/utilities/borders/"-->
    <!--          target="_blank">Bootstrap Borders Docs</a> and <a href="https://mdbootstrap.com/docs/standard/content-styles/images/"-->
    <!--          target="_blank">Bootstrap Images Docs</a></strong></p>-->

    <!--Grid row-->
    <div class="row text-center">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

            <h2 class="my-5 h2">Prasanna Kumar Vundaty</h2>

            <img class="rounded-circle" alt="100x100" src="{% static 'images/1.jpg' %}"
                 data-holder-rendered="true">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4" >

            <br>
            <br>

            <p class="text-md-left" style="color:red">Personal Social Media Accounts:
                <a href="https://github.com/peter-nani" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                <a href=" https://www.instagram.com/peter_nani/" target="_blank"><i class="fa fa-instagram"
                                                                                    aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/c/PeterNanii" target="_blank"><i class="fa fa-youtube-play"
                                                                                  aria-hidden="true"></i></a>
                <a href="https://twitter.com/peter_hack_on" target="_blank"><i class="fa fa-twitter-square"
                                                                               aria-hidden="true"></i></a>
                <a href="https://www.quora.com/profile/Peter-Nanii" target="_blank"><i class="fa fa-quora"
                                                                                       aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/prasanna-kumar-34b332103/" target="_blank"><i
                        class="fa fa-linkedin-square" aria-hidden="true"></i></a>


                <br>
            <p class="text-md-left" style="color:red">Business Accounts:
                <a href=" https://www.instagram.com/complex_pro/" target="_blank"><i class="fa fa-instagram"
                                                                                     aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/channel/UCmPePP00vmRq0NDXTc3tVNw" target="_blank"><i
                        class="fa fa-youtube-play" aria-hidden="true"></i></a>
                <a href="https://twitter.com/Complexpro2" target="_blank"><i class="fa fa-twitter-square"
                                                                             aria-hidden="true"></i></a>
            </p>
            <div class="col-sm" >
                <h8 style="color:blue" class="text-md-left" >TOP Expertise:</h8>
                Python, Django, AWS
            </div>
            <br>
            <h8 style="color:orange">About Me:</h8>
            <p class="text-md-left">I am 28 years old and I've been a tech enthusiast for 15 years. I have completed my Btech in electronics
                and completed different courses on different technologies. I have been practising my coding skills since
                5 years. I have been developing many web applications and wrote many programs for different solutions in
                the tech industry.</p>
                <a href="#"></a>
            <p class="text-md-left"> <i style="color:purple" class="fa fa-whatsapp" aria-hidden="true"> CALL/WATSAPP/: +91-9581662082 </i></p>
            <p class="text-md-left"> <i style="color:purple" class="fa fa-envelope" aria-hidden="true"> Email: peter.hack.on@gmail.com </i></p>


        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</div>


{% endblock %}