{% extends "base.html" %}
{% load static %}
{% block content %}



<table class="table">
  <thead>
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Project</th>
      <th scope="col">gitlink</th>
<!--      <th scope="col">Premium</th>-->
        <th scope="col">Blog</th>
    </tr>
  </thead>
     {% for d in data %}
  <tbody>

    <tr>
      <th scope="row">{{d.id}}]</th>
      <td>{{d.project}}</td>
      <td>{{d.gitlink}}</td>
<!--      <td>{{d.premium}}</td>-->
        <td>{{d.bloglink}}</td>

  </tbody>
    {% endfor %}
</table>



{% endblock %}

